* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container{
    display: flex;
    justify-content: space-around;
    /* width: 75%; */
    max-width: 1600px;
    height: 92px;
    align-items: center;
    padding: 16px 120px;
}
.container .logo{
    width: 139px;
    height: 60px;
}
.container .menu{
    display: flex;
    list-style-type: none;
    /* justify-content: space-between; */
    gap: 32px;
    text-align: center;

}
.container .btn{
    background-color: #469165 ;
    color: white;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600px;
    line-height: 19px;
    padding: 12px 16px;
}
.banner{
    text-align: center;
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    padding-top:53px ;
    width: 1600px;
    height: 1363px;
    margin: 0 auto;
}
.banner-container{
    width: 1360px;
    height: 379px;
    gap: 32px;
    padding: 115px 120px 170px;
}
 .early{
    color: #30B868;
    background-color: #ffffff;
    border-radius: 1000px;
     width: 229px;
    height: 35px;
    padding: 8px 12px;
    margin: 0 auto;
    align-items: center;
    font-size: 16px; 
    font-weight: 500;
    line-height: 19px;
    display: flex;
    justify-content: center;
    gap: 6px;
    align-self: auto;
} 
.early img{
    height: 16px;
    width: 16px;
}
.banner-container h1{
    width: 770px;
    height: 168px;
    font-size: 72px;
     font-weight: 700;
    line-height: 84px;
    opacity: 90%;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 16px;
}
.banner-container .green{
    color: #30B868;
}
.banner-container p{
    width: 700px;
    height: 80px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto;
    padding-top: 16px;

}
.banner-container button{
    background-color: #30B868;
    color: white;
    width: 251px;
    height: 52px;
    border-radius: 4px;
    margin-right: 16px;
    border: none;

}
.banner-container .btn{
    display: flex;
    justify-content: center;
}
.btn img{
    width: 20px;
    height: 20px;
}
.btn .play{
    background: none;
    border: 1px solid #ffffff;
    margin-bottom: 180px;

}